<h1>Hola mundo</h1>
<h2>Hola, soy {{ name }}</h2>
<img src="{{ waifu }}" alt="Lucy" />

<hr>

<h1>Property Binding</h1>
<button [disabled]="btnDisabled">Enviar</button>
<input type="text" [value]="name" />
<progress max="100" [value]="age"></progress>
<img [src]="waifu" alt="Mi Lucy">

<hr>

<h1>Event Binding</h1>
<button [disabled]="btnDisabled">Enviar</button>
<button (click)="toggleButton()">Activar/Desactivar</button>
<p>Edad: {{ age }}</p>
<button (click)="incrementAge()">+</button>
<button (click)="decrementAge()">-</button>

<div class="box" (scroll)="onScroll($event)">
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit.
    Ipsam animi facilis reiciendis, repellendus possimus
    voluptatum id mollitia, cum, adipisci saepe accusamus
    illo esse maiores beatae assumenda iure rerum quod a.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit.
    Ipsam animi facilis reiciendis, repellendus possimus
    voluptatum id mollitia, cum, adipisci saepe accusamus
    illo esse maiores beatae assumenda iure rerum quod a.
  </p>
</div>
<p>Nombre: {{ name }}</p>
<input type="text" [value]="name" (keyup)="chageName($event)" />
